####################################################
# INIT
####################################################
#---------------------------------------------------
interface(`hos_init_domtrans_script',`
    gen_require(`
        attribute init_script_file_type;
        attribute initrc_transition_domain;
        type initrc_t;
    ')
    allow $1 initrc_t:process2 { nnp_transition nosuid_transition };
    hos_domtrans_pattern($1, init_script_file_type, initrc_t)
    hos_files_list_etc($1)
    ifdef(`enable_mcs',`
        range_transition $1 init_script_file_type:process s0;
    ')
    ifdef(`enable_mls',`
        range_transition $1 init_script_file_type:process s0 - mls_systemhigh;
    ')
    typeattribute $1 initrc_transition_domain;
')
#---------------------------------------------------
interface(`hos_init_read_state',`
    gen_require(`
        type init_t;
    ')
    allow $1 init_t:dir { search_dir_perms };
    allow $1 init_t:lnk_file { read_lnk_file_perms };
    hos_read_file_perms($1, init_t)
')
#---------------------------------------------------
interface(`hos_init_rw_stream_sockets',`
    gen_require(`
        type init_t;
    ')
    hos_rw_stream_socket_perms($1, init_t, unix_stream_socket)
')
#---------------------------------------------------
interface(`hos_init_use_script_ptys',`
    gen_require(`
        type initrc_devpts_t;
    ')
    allow $1 initrc_devpts_t:chr_file { lock append };
    hos_rw_term_perms($1, initrc_devpts_t, chr_file)
    hos_term_list_ptys($1)
')
