####################################################
# FS
####################################################
#---------------------------------------------------
interface(`hos_fs_list_cgroup_dirs',`
    gen_require(`
        type cgroup_t;
    ')
    dev_search_sysfs($1)
    fs_search_tmpfs($1)
    hos_list_dirs_pattern($1, cgroup_t, cgroup_t)
')
#---------------------------------------------------
interface(`hos_fs_read_cgroup_files',`
    gen_require(`
        type cgroup_t;
    ')
    dev_search_sysfs($1)
    fs_search_tmpfs($1)
    hos_read_files_pattern($1, cgroup_t, cgroup_t)
    read_lnk_files_pattern($1, cgroup_t, cgroup_t)
')
#---------------------------------------------------
interface(`hos_fs_read_efivarfs_files',`
    gen_require(`
        type efivarfs_t;
    ')
    hos_read_files_pattern($1, efivarfs_t, efivarfs_t)
')
#---------------------------------------------------
interface(`hos_fs_tmpfs_filetrans',`
    gen_require(`
        type tmpfs_t;
    ')
    allow $2 tmpfs_t:filesystem { associate };
    hos_filetrans_pattern($1, tmpfs_t, $2, $3, $4)
')
