####################################################
# ADD
####################################################
#---------------------------------------------------
interface(`hos_add_entry_dir_perms',`
    allow $1 $2:dir { add_name getattr open search write };
')
