####################################################
# MISCFILES
####################################################
#---------------------------------------------------
interface(`hos_miscfiles_manage_localization',`
    gen_require(`
        type locale_t;
    ')
    hos_manage_dirs_pattern($1, locale_t, locale_t)
    hos_manage_files_pattern($1, locale_t, locale_t)
    hos_manage_lnk_files_pattern($1, locale_t, locale_t)
')
#---------------------------------------------------
interface(`hos_miscfiles_read_generic_certs',`
    gen_require(`
        type cert_t;
    ')
    hos_list_dir_perms($1, cert_t)
    hos_read_files_pattern($1, cert_t, cert_t)
    read_lnk_files_pattern($1, cert_t, cert_t)
')
