####################################################
# ADD
####################################################
#---------------------------------------------------
interface(`hos_add_entry_dir_perms',`
    allow $1 $2:$3 { add_name getattr open search write };
')
