####################################################
# MOZILLA
####################################################
#---------------------------------------------------
interface(`hos_mozilla_domtrans_spec',`
    gen_require(`
        type mozilla_exec_t;
    ')
    hos_domain_entry_file($2, mozilla_exec_t)
    hos_domtrans_pattern($1, mozilla_exec_t, $2) 
')
