####################################################
# DOMAIN
####################################################
#---------------------------------------------------
interface(`hos_domain_auto_transition_pattern',`
    hos_can_exec($1, $2)
    allow $1 $3:process { transition };
    type_transition $1 $2:process $3;
')
#---------------------------------------------------
interface(`hos_domain_entry_file',`
    gen_require(`
        attribute entry_type;
    ')
    corecmd_executable_file($2)
    allow $1 $2:file { entrypoint execute getattr open map read };
    typeattribute $2 entry_type;
')
#---------------------------------------------------
interface(`hos_domain_read_all_domains_state',`
    gen_require(`
        attribute domain;
    ')
    hos_list_dir_perms($1, domain)
    hos_read_files_pattern($1, domain, domain)
    kernel_search_proc($1)
    read_lnk_files_pattern($1, domain, domain)
')
#---------------------------------------------------
interface(`hos_domain_transition_pattern',`
    allow $1 $3:process { transition };
    # dontaudit $1 $3:process { noatsecure siginh rlimitinh };
    hos_exec_file_perms($1, $2, file)
')
#---------------------------------------------------
interface(`hos_domtrans_pattern',`
    hos_domain_auto_transition_pattern($1, $2, $3)
    allow $3 $1:fd { use };
    allow $3 $1:fifo_file { append getattr read write };
    allow $3 $1:process { sigchld };
')
