####################################################
# USERDOM
####################################################
#---------------------------------------------------
interface(`hos_userdom_list_user_home_dirs',`
    gen_require(`
        type user_home_dir_t;
    ')
    files_search_home($1)
    hos_list_dir_perms($1, user_home_dir_t)
')
#---------------------------------------------------
interface(`hos_userdom_manage_tmp_dirs',`
    gen_require(`
        type user_tmp_t;
    ')
    hos_manage_dirs_pattern($1, user_tmp_t, user_tmp_t)
')
#---------------------------------------------------
interface(`hos_userdom_manage_tmp_files',`
    gen_require(`
        type user_tmp_t;
    ')
    hos_manage_files_pattern($1, user_tmp_t, user_tmp_t)
')
#---------------------------------------------------
interface(`hos_userdom_manage_tmp_sockets',`
    gen_require(`
        type user_tmp_t;
    ')
    hos_manage_sock_files_pattern($1, user_tmp_t, user_tmp_t)
')
#---------------------------------------------------
interface(`hos_userdom_manage_tmpfs_files',`
    gen_require(`
        type user_tmpfs_t;
    ')
    hos_manage_files_pattern($1, user_tmpfs_t, user_tmpfs_t)
')
#---------------------------------------------------
interface(`hos_userdom_read_all_users_state',`
    gen_require(`
        attribute userdomain;
    ')
    hos_read_files_pattern($1, userdomain, userdomain)
    kernel_search_proc($1)
    read_lnk_files_pattern($1,userdomain,userdomain)
')
#---------------------------------------------------
interface(`hos_userdom_rw_stream',`
    gen_require(`
        attribute userdomain;
    ')
    hos_rw_socket_perms($1, userdomain, unix_stream_socket)
')
#---------------------------------------------------
interface(`hos_userdom_tmpfs_filetrans',`
    gen_require(`
        type user_tmpfs_t;
    ')
    hos_fs_tmpfs_filetrans($1, user_tmpfs_t, $2, $3)
')
#---------------------------------------------------
interface(`hos_userdom_manage_user_home_content_dirs',`
    gen_require(`
        type user_home_dir_t, user_home_t;
    ')
    files_search_home($1)
    hos_manage_dirs_pattern($1, user_home_dir_t, user_home_t)
    hos_manage_dirs_pattern($1, user_home_t, user_home_t)
')
#---------------------------------------------------
interface(`hos_userdom_manage_user_home_content_files',`
    gen_require(`
        type user_home_dir_t, user_home_t;
    ')
    files_search_home($1)
    hos_manage_files_pattern($1, user_home_t, user_home_t)
    allow $1 user_home_dir_t:dir { search_dir_perms };
    allow $1 user_home_t:file { map }; 
')
#---------------------------------------------------
interface(`hos_userdom_manage_user_tmp_chr_files',`
    gen_require(`
        type user_tmp_t;
    ')
    hos_manage_chr_files_pattern($1, user_tmp_t, user_tmp_t)
')
#---------------------------------------------------
interface(`hos_userdom_manage_user_tmp_pipes',`
    gen_require(`
        type user_tmp_t;
    ')
    hos_manage_fifo_files_pattern($1, user_tmp_t, user_tmp_t)
')
#---------------------------------------------------
interface(`hos_userdom_manage_user_tmp_symlinks',`
    gen_require(`
        type user_tmp_t;
    ')
    hos_manage_lnk_files_pattern($1, user_tmp_t, user_tmp_t)
')
#---------------------------------------------------
interface(`hos_userdom_read_home_audio_files',`
    gen_require(`
        type audio_home_t;
    ')
    hos_list_dir_perms($1, audio_home_t)
    hos_read_files_pattern($1, audio_home_t, audio_home_t)
    userdom_search_user_home_dirs($1)
    read_lnk_files_pattern($1, audio_home_t, audio_home_t)
')
#---------------------------------------------------
interface(`hos_userdom_use_inherited_user_ptys',`
    gen_require(`
        type user_devpts_t;    
    ')
    hos_rw_inherited_term_perms($1, user_devpts_t, chr_file)
')
#---------------------------------------------------
interface(`hos_userdom_use_inherited_user_ttys',`
    gen_require(`
        type user_tty_device_t;
    ')
    hos_rw_inherited_term_perms($1, user_tty_device_t, chr_file)
')
#---------------------------------------------------
interface(`hos_userdom_user_home_dir_filetrans',`
    gen_require(`
        type user_home_dir_t;
    ')
    files_search_home($1)
    hos_filetrans_pattern($1, user_home_dir_t, $2, $3, $4)
')
#---------------------------------------------------
interface(`hos_userdom_user_tmp_filetrans',`
    gen_require(`
        type user_tmp_t;
    ')
    hos_filetrans_pattern($1, user_tmp_t, $2, $3, $4)
    files_search_tmp($1)
')
#---------------------------------------------------
interface(`hos_userdom_write_user_tmp_files',`
    gen_require(`
        type user_tmp_t;
    ')
    hos_read_files_pattern($1, user_tmp_t, user_tmp_t)
    allow $1 user_tmp_t:file { append write };
')
