####################################################
# SNAPPER
####################################################
#---------------------------------------------------
interface(`hardhat_snapper_read_inherited_pipe',`
    gen_require(`
        type snapperd_t;
    ')
    hardhat_read_inherited_file_perms($1, snapperd_t, fifo_file) 
')
