####################################################
# KERNEL
####################################################
#---------------------------------------------------
interface(`hos_kernel_list_proc',`
    gen_require(`
        type proc_t;
    ')
    hos_list_dirs_pattern($1, proc_t, proc_t)
')
#---------------------------------------------------
interface(`hos_kernel_read_kernel_sysctls',`
    gen_require(`
        type proc_t, sysctl_kernel_t, sysctl_t;
    ')
    hos_list_dirs_pattern($1, { proc_t sysctl_t }, sysctl_kernel_t)
    hos_read_files_pattern($1, { proc_t sysctl_t sysctl_kernel_t }, sysctl_kernel_t)
')
