####################################################
# LOGGING
####################################################
#---------------------------------------------------
interface(`hos_logging_send_audit_msgs',`
    allow $1 self:capability { audit_write };
    allow $1 self:netlink_audit_socket { nlmsg_relay nlmsg_tty_audit };
    hos_r_netlink_socket_perms($1, self, netlink_audit_socket)
')
