####################################################
# GNOME
####################################################
#---------------------------------------------------
interface(`hos_gnome_atspi_domtrans',`
    gen_require(`
        type gnome_atspi_t, gnome_atspi_exec_t;
    ')
    hos_domtrans_pattern($1, gnome_atspi_exec_t, gnome_atspi_t)
')
#---------------------------------------------------
interface(`hos_gnome_exec_atspi',`
    gen_require(`
        type gnome_atspi_exec_t;
    ')
    hos_can_exec($1, gnome_atspi_exec_t)
')
#---------------------------------------------------
interface(`hos_gnome_exec_gconf',`
    gen_require(`
        type gconfd_exec_t;
    ')
    hos_can_exec($1, gconfd_exec_t)
')
#---------------------------------------------------
interface(`hos_gnome_manage_home_config_dirs',`
    gen_require(`
        type config_home_t;
    ')
    hos_manage_dirs_pattern($1, config_home_t, config_home_t)
')
#---------------------------------------------------
interface(`hos_gnome_read_config',`
    gen_require(`
        attribute gnome_home_type;
    ')
    hos_gnome_read_usr_config($1)
    hos_list_dirs_pattern($1, gnome_home_type, gnome_home_type)
    hos_read_files_pattern($1, gnome_home_type, gnome_home_type)
    read_lnk_files_pattern($1, gnome_home_type, gnome_home_type)
')
#---------------------------------------------------
interface(`hos_gnome_read_gconf_home_files',`
    gen_require(`
        type data_home_t, gconf_home_t;
    ')
    hos_list_dir_perms($1, data_home_t)
    hos_list_dir_perms($1, gconf_home_t)
    hos_read_files_pattern($1, data_home_t, data_home_t)
    hos_read_files_pattern($1, gconf_home_t, gconf_home_t)
    read_lnk_files_pattern($1, data_home_t, data_home_t)
    read_lnk_files_pattern($1, gconf_home_t, gconf_home_t)
    userdom_search_user_home_dirs($1)
')
#---------------------------------------------------
interface(`hos_gnome_read_inherited_home_icc_data_files',`
    gen_require(`
        type icc_data_home_t;
    ')
    hos_read_inherited_file_perms($1, icc_data_home_t, file)
')
#---------------------------------------------------
interface(`hos_gnome_read_usr_config',`
    gen_require(`
        type config_usr_t;
    ')
    files_search_usr($1)
    hos_list_dirs_pattern($1, config_usr_t, config_usr_t)
    hos_read_files_pattern($1, config_usr_t, config_usr_t)
    read_lnk_files_pattern($1, config_usr_t, config_usr_t)
')
