####################################################
# SELINUX
####################################################
#---------------------------------------------------
interface(`hos_selinux_get_fs_mount',`
    gen_require(`
        type security_t;
    ')
    allow $1 security_t:filesystem { getattr };
    allow $1 security_t:lnk_file { read_lnk_file_perms };
    dev_getattr_sysfs_fs($1)
    dev_search_sysfs($1)
    kernel_read_system_state($1)
')
#---------------------------------------------------
interface(`hos_selinux_compute_access_vector',`
    gen_require(`
        type security_t;
    ')
    allow $1 security_t:lnk_file { read_lnk_file_perms };
    allow $1 security_t:security { compute_av };
    dev_getattr_sysfs_fs($1)
    dev_search_sysfs($1)
    hos_list_dir_perms($1, security_t)
    hos_rw_file_perms($1, security_t, file)
')
#---------------------------------------------------
interface(`hos_selinux_compute_create_context',`
    gen_require(`
        type security_t;
    ')
    allow $1 security_t:lnk_file { read_lnk_file_perms };
    allow $1 security_t:security { compute_create };
    dev_getattr_sysfs_fs($1)
    dev_search_sysfs($1)
    hos_list_dir_perms($1, security_t)
    hos_rw_file_perms($1, security_t, file)
')
#---------------------------------------------------
interface(`hos_selinux_compute_relabel_context',`
    gen_require(`
        type security_t;
    ')
    allow $1 security_t:lnk_file { read_lnk_file_perms };
    allow $1 security_t:security { compute_relabel };
    dev_getattr_sysfs_fs($1)
    dev_search_sysfs($1)
    hos_list_dir_perms($1, security_t)
    hos_rw_file_perms($1, security_t, file)
')
#---------------------------------------------------
interface(`hos_selinux_compute_user_contexts',`
    gen_require(`
        type security_t;
    ')
    allow $1 security_t:lnk_file { read_lnk_file_perms };
    allow $1 security_t:security { compute_user };
    dev_getattr_sysfs_fs($1)
    dev_search_sysfs($1)
    hos_list_dir_perms($1, security_t)
    hos_rw_file_perms($1, security_t, file)
')
#---------------------------------------------------
interface(`hos_selinux_validate_context',`
    gen_require(`
        type security_t;
    ')
    allow $1 security_t:file { map };
    allow $1 security_t:lnk_file { read_lnk_file_perms };
    allow $1 security_t:security { check_context };
    dev_getattr_sysfs_fs($1)
    dev_search_sysfs($1)
    hos_list_dir_perms($1, security_t)
    hos_rw_file_perms($1, security_t, file)
')
