####################################################
# R
####################################################
#---------------------------------------------------
interface(`hos_r_netlink_socket_perms',`
    allow $1 $2:$3 { nlmsg_read };
    hos_create_socket_perms($1, $2, $3)
')
