####################################################
# RW
####################################################
#---------------------------------------------------
interface(`hos_rw_chr_file_perms',`
    allow $1 $2:$3 { open };
    hos_rw_inherited_chr_file_perms($1, $2, $3)
')
#---------------------------------------------------
interface(`hos_rw_dir_perms',`
    allow $1 $2:$3 { search_dir_perms };
    allow $1 $2:$3 { add_name read remove_name write };
')
#---------------------------------------------------
interface(`hos_rw_fifo_file_perms',`
    allow $1 $2:$3 { open };
    hos_rw_inherited_fifo_file_perms($1, $2, $3)
')
#---------------------------------------------------
interface(`hos_rw_file_perms',`
    allow $1 $2:$3 { append getattr lock open read write };
')
#---------------------------------------------------
interface(`hos_rw_files_pattern',`
    allow $1 $2:$3 { search_dir_perms };
    hos_rw_file_perms($1, $2, file)
')
#---------------------------------------------------
interface(`hos_rw_inherited_chr_file_perms',`
    allow $1 $2:$3 { append getattr lock read write };
')
#---------------------------------------------------
interface(`hos_rw_inherited_fifo_file_perms',`
    allow $1 $2:$3 { append getattr lock read write};
')
#---------------------------------------------------
interface(`hos_rw_inherited_term_perms',`
    allow $1 $2:$3 { append getattr read write };
')
#---------------------------------------------------
interface(`hos_rw_socket_perms',`
    allow $1 $2:$3 { append bind connect getattr getopt lock read setattr setopt shutdown write };
')
#---------------------------------------------------
interface(`hos_rw_stream_socket_perms',`
    allow $1 $2:$3 { accept listen };
    hos_rw_socket_perms($1, $2, $3)
')
#---------------------------------------------------
interface(`hos_rw_term_perms',`
    allow $1 $2:$3 { open };
    hos_rw_inherited_term_perms($1, $2, $3)
')
