####################################################
# CREATE
####################################################
#---------------------------------------------------
interface(`hos_create_sock_files_pattern',`
    allow $1 $3:sock_file { create_sock_file_perms };
    hos_add_entry_dir_perms($1, $2)
')
