####################################################
# XSERVER
####################################################
#---------------------------------------------------
interface(`hos_xserver_manage_user_xauth',`
    gen_require(`
        type xauth_home_t;
    ')
    hos_manage_file_perms($1, xauth_home_t, file)
')
