####################################################
# OBJ PERM SETS
####################################################
#---------------------------------------------------
interface(`hos_create_socket_perms',`
    allow $1 $2:$3 { create };
    hos_rw_socket_perms($1, $2, $3)
')
#---------------------------------------------------
interface(`hos_create_stream_socket_perms', `
    allow $1 $2:$3 { accept listen };
    hos_create_socket_perms($1, $2, $3)
')
