####################################################
# EXEC
####################################################
interface(`hardhat_exec_file_perms',`
    allow $1 $2:$3 { execute execute_no_trans getattr map open read };
')
