####################################################
# TERM
####################################################
#---------------------------------------------------
interface(`hardhat_term_list_ptys',`
    gen_require(`
        type devpts_t;
    ')
    hardhat_dev_list_all_dev_nodes($1)
    hardhat_list_dir_perms($1, devpts_t)
')
#---------------------------------------------------
interface(`hardhat_term_use_all_inherited_terms',`
    gen_require(`
        attribute ttynode, ptynode;
        type console_device_t, devpts_t, tty_device_t;
    ')
    hardhat_rw_inherited_term_perms($1, console_device_t, chr_file)
    hardhat_rw_inherited_term_perms($1, devpts_t, chr_file)
    hardhat_rw_inherited_term_perms($1, ptynode, chr_file)
    hardhat_rw_inherited_term_perms($1, tty_device_t, chr_file)
    hardhat_rw_inherited_term_perms($1, ttynode, chr_file)
')
#---------------------------------------------------
interface(`hardhat_term_use_all_ptys',`
    gen_require(`
        attribute ptynode;
        type devpts_t;
    ')
    allow $1 ptynode:chr_file { lock append };
    hardhat_dev_list_all_dev_nodes($1)
    hardhat_list_dir_perms($1, devpts_t)
    hardhat_rw_term_perms($1, ptynode, chr_file)
')
#---------------------------------------------------
interface(`hardhat_term_use_ptmx',`
    gen_require(`
        type ptmx_t;
    ')
    hardhat_dev_list_all_dev_nodes($1)
    hardhat_rw_file_perms($1, ptmx_t, chr_file)
')
